.news-container{
    overflow-x: hidden;
}
.news-top{
    width:100%;
    height:330px;
    /* border-bottom: 1px solid ; */
    background-image: url('saif-partners.jpg');
    background-position: center;
    background-size: cover;    
}
.news-span{
    font-size:160px;
    font-family:"Circular";
    font-weight: bold;
    position: relative;
    top:80px;
    left:150px;
    animation-name: portfolio;
    animation-duration: 1500ms;
}
@keyframes  portfolio{
    0%{top:-250px;}
    100%{top:80px}
}
.news-third1{
    display: flex;
}
.news-third1-left{
    flex:2
}
.press{
    font-size: 30px;
    font-weight:700
}
.news-third1-right{
    flex:1
}
.insights{
    font-size:30px;
    font-weight: 700
}